统计文本中的单词数

In [1]:
!tr -sc 'A-Za-z' '\n' < nyt_200811.txt | sort | uniq -c | head -n 50

1271 A
   3 AA
   3 AAA
   1 AARP
   1 ABANDONED
   2 ABBA
   1 ABBY
  77 ABC
   1 ABCNews
   1 ABELSON
   1 ABIGAIL
   1 ABN
   1 ABORTION
   1 ABOUT
   1 ABREU
   1 ABROAD
   5 AC
  21 ACC
   1 ACCOUNTS
   1 ACCUSE
   4 ACL
   2 ACLU
   6 ACORN
   4 ACT
   1 ACTION
   1 ACTIONS
   4 AD
   2 ADAIR
   2 ADAM
   1 ADAMS
   1 ADOPTION
   2 ADP
   1 ADQ
   2 ADS
   1 ADVISERS
  40 AFC
   1 AFFAIRS
   1 AFGHAN
   1 AFGHANISTAN
   1 AFGHANS
  13 AFL
   4 AFRANE
   2 AFRICA
   1 AFTER
   1 AG
   1 AGE
   1 AGENDA
   1 AHEAD
   1 AHHH
   1 AHL

通过将所有大写字母转换成小写字母来合并大小写

In [2]:
!tr 'A-Z' 'a-z' < nyt_200811.txt | tr -sc 'A-Za-z' '\n' | sort | uniq -c | head -n 50

26747 a
   3 aa
   3 aaa
   1 aalborg
   1 aaliyah
   1 aalto
   2 aardvark
   3 aardvarks
  25 aaron
   1 aarp
   1 abandoibarra
  18 abandon
  22 abandoned
   4 abandoning
   1 abandonment
   2 abandonments
   1 abati
   2 abba
   8 abbas
  12 abbassi
   2 abbe
   4 abbey
   1 abbott
   3 abbreviated
   2 abby
  77 abc
   1 abchome
   1 abcnews
   4 abdel
   1 abdellatif
   3 abderrahim
   3 abdi
   1 abdicating
  10 abdirahman
   2 abdominal
   4 abdoulaye
   1 abdu
   4 abducted
   4 abduction
   1 abductor
  14 abdul
  19 abdullah
   6 abe
   1 abel
   5 abelson
   1 abenjamin
   6 abercrombie
  15 abernathy
   2 aberration
   1 abetted

不同的元音序列的频次

In [3]:
!tr 'A-Z' 'a-z' < nyt_200811.txt | tr -sc 'aeiou' '\n' | sort | uniq -c

   1
343127 a
 163 aa
   3 aaa
 458 ae
   1 aea
   1 aee
   3 aeo
  28 aeu
21124 ai
   5 aia
   1 aie
  34 aii
  11 aiia
   2 aiu
 180 ao
   4 aou
   1 aoui
4747 au
   2 aue
481609 e
28385 ea
   1 eai
 222 eau
15457 ee
   1 eea
   2 eee
   2 eeee
 125 eei
6282 ei
   3 eia
   3 eie
3186 eo
   4 eoi
 106 eou
 827 eu
269982 i
10596 ia
   5 iai
   2 iau
12694 ie
   4 iei
  32 ieu
 134 ii
   1 iia
  20 iii
21816 io
   3 ioa
   3 ioe
   4 ioia
 966 iou
 439 iu
272982 o
3118 oa
   1 oao
   1 oau
1433 oe
   1 oea
  28 oei
   3 oeu
4081 oi
   6 oia
   2 oie
9378 oo
  12 ooe
  17 ooi
   1 ooie
   2 ooo
   1 oooo
   1 ooooo
   2 ooooooo
32852 ou
   9 oua
   5 oue
 131 oui
   2 ouie
70026 u
3419 ua
  10 uai
5105 ue
  13 uea
  87 uee
   2 ueo
   1 ueou
   3 ueu
   2 ueue
   1 ueui
2947 ui
   9 uia
  73 uie
   1 uiou
 152 uo
   5 uoi
  56 uou
  14 uu

找出 NYT 中最常见的50个单词

In [4]:
!tr -sc 'A-Za-z' '\n' < nyt_200811.txt | sort | uniq -c | sort -nr | head -n 50

51631 the
25478 to
25476 a
25411 of
23862 and
20441 in
11602 that
11380 s
9602 for
7962 said
7911 is
7850 on
6692 with
6616 was
6527 The
6161 he
5805 it
5656 as
5226 at
5186 his
4665 I
4659 be
4521 have
4451 by
4217 from
3986 are
3965 an
3894 has
3770 not
3719 who
3529 Obama
3217 had
3103 they
2881 will
2800 this
2780 their
2710 about
2688 or
2656 but
2623 t
2610 more
2548 were
2491 would
2240 been
2235 But
2212 one
2143 you
2090 It
2053 we
2026 up
sort: Broken pipe

找出 NYT 中以“zz”为结尾的单词

In [5]:
!tr -sc 'A-Za-z' '\n' < nyt_200811.txt | sort | uniq -c | rev | sort -r | rev | head -n 10

   3 abuzz
  15 buzz
   4 Buzz
   1 Lizz
   1 pizazz
   1 razzmatazz
  14 jazz
   7 Jazz
   8 Cruz
   2 Lutz

Bigrams

In [6]:
!tr -sc 'A-Za-z' '\n' < nyt_200811.txt > nyt.words
!tail -n +2 nyt.words > nyt.nextwords
!paste nyt.words nyt.nextwords > nyt.bigrams
!head nyt.bigrams

KBR	said
said	Friday
Friday	the
the	global
global	economic
economic	downturn
downturn	so
so	far
far	has
has	had

找出10个最常见的二元语法

In [7]:
!tr 'A-Z' 'a-z' < nyt.bigrams | sort | uniq -c | sort -nr | head

6256 of	the
5394 in	the
2366 to	the
2184 on	the
1901 for	the
1747 in	a
1732 and	the
1486 it	s
1460 at	the
1418 to	be
sort: Broken pipe

找出10个最常见的三元语法

In [8]:
!tail -n +3 nyt.words > nyt.nnwords
!paste nyt.bigrams nyt.nnwords > nyt.trigrams
!tr 'A-Z' 'a-z' < nyt.trigrams | sort | uniq -c | sort -nr | head

 430 one	of	the
 367 the	united	states
 340 a	lot	of
 240 the	white	house
 236 i	don	t
 229 it	s	a
 210 the	u	s
 206 as	well	as
 202 the	nation	s
 187 some	of	the
sort: Broken pipe

NYT文件中，有多少字母全为大写的单词?

In [9]:
!egrep ^[A-Z]+$ nyt.words | wc -l

   16380

共有多少4位字母的单词?

In [10]:
!egrep ^[A-Za-z]\{4\}$ nyt.words | wc -l

  169549

共有多少不含元音的单词?

In [11]:
!egrep ^[^aeiouAEIOU]+$ nyt.words | wc -l

   28581

共有多少单音节单词?

In [12]:
!egrep ^[^aeiouAEIOU]*[aeiouAEIOU]+[^aeiouAEIOU]*$ nyt.words | wc -l

  565259